.story {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 40px;
    text-align: justify;
}
.evTitle {
    color: white;
}

#sSlider .slider-track-low {
    background: white;
}

#sSlider .slider-track-high {
    background: white;
}

#sSlider .slider-selection{
    background: white;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 70px;
  height: 40px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  }

  p {
      font-size: 20px;
  }

  ul {
      font-size: 18px;
  }