.story {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 40px;
    text-align: justify;
}
.evTitle {
    color: white;
}

#sSlider .slider-track-low {
    background: white;
}

#sSlider .slider-track-high {
    background: white;
}

#sSlider .slider-selection{
    background: white;
}