.story {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 40px;
    text-align: justify;
}
.evTitle {
    color: white;
}

#sSlider .slider-track-low {
    background: white;
}

#sSlider .slider-track-high {
    background: white;
}

#sSlider .slider-selection{
    background: white;
}

div.tooltip {
  padding-top: 5px;
  position: absolute;
  text-align: center;
  width: 90px;
  height: 45px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  }

  p {
      font-size: 20px;
  }

  ul {
      font-size: 18px;
  }

.calloutEvents {
    display: table;
    width: 100%;
    height: 400px;
    color: #fff;
    background: url(../img/nyc_back.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}