@(title: String)
@main(title) {
<div class="container">
    <div class="row">
        <div class="col-sm-2">
            Filter by time interval:
        </div>
         <div class="col-sm-2">
            <center><b>January</b></center> 
        </div>
        <div class="col-sm-6">
            <input id="monthSlider" type="text" class="span2" value="" data-slider-min="1" data-slider-max="12" data-slider-step="1" data-slider-value="[1,12]"/ style="width:100%;">   
        </div>
        <div class="col-sm-2">
            <center><b>December</b></center> 
        </div>
    </div>
</div> <br/> <br/> <br/>
<div class="row">
    <div class="col-sm-6">
        <center>Start date: <span id="startDate">1</span></center>
    </div>
    <div class="col-sm-6">
        <center>End date: <span id="endDate">12</span></center>
    </div>
</div>

<script src="@routes.Assets.versioned("javascripts/map.js")" type="text/javascript"></script>

}
